In [26]:
import pandas as pd
import folium
import numpy as np

SIMPLE FUNCTION WHICH GETS MAP LOCATION, CALLED UPON BY SUBSEQUENT LINES.
ACCEPTS 4 PARAMETERS

In [54]:
## TILE PARAMETERS - “OpenStreetMap”
#                     “Mapbox Bright” (Limited levels of zoom for free tiles)
#                      “Mapbox Control Room” (Limited levels of zoom for free tiles)
#                       “Stamen” (Terrain, Toner, and Watercolor)
#                        “Cloudmade” (Must pass API key)
#                       “Mapbox” (Must pass API key)
#                   “CartoDB” (positron and dark_matter)

def map_fetch(long,lat,tiles1, zoom):


    map_coor = (long,lat)

   
 
# for speed purposes
    MAX_RECORDS = 10000
  
# create empty map zoomed in on target
    map = folium.Map(location=map_coor, tiles = tiles1, zoom_start=zoom)
 
# add a marker for every record in the filtered data, use a clustered view

    display(map)

In [55]:
map_fetch(53.53749785, -113.492331364,'Stamen Watercolor',12)

In [29]:
def get_data(name,lim):
    
    df = pd.read_csv(name)
    return df

In [30]:
import matplotlib.pyplot as plt
import numpy as np

In [33]:
df = get_data('edm_hood.csv',1)

df.head(1)

#val = df['name']
#val.head()

   point_id  neig_id          name        long        lat  order  Unnamed: 6
0         0     2010  ABBOTTSFIELD -113.387634  53.576135      1         NaN

In [49]:
loc1 = 5000

lat = df.loc[loc1,'lat']


long = df.loc[loc1,'long']

title = df.loc[loc1,'name']


print(title)

#folium.Marker([df.iloc[loc1]['long'], df.iloc[loc1]['lat']], popup=df.iloc[loc1]['name']) #.add_to(map)
map_fetch(lat,long,'OpenStreetMap',14)

BISSET

In [50]:
#gapminder[loc1,'continent'].value_counts()
df['name'].value_counts().head(10)

RURAL NORTH EAST SOUTH STURGEON      3557
EDGEMONT                             2152
RIVERVIEW AREA                       2151
RIVER VALLEY RUNDLE                  1188
TRUMPETER AREA                        977
ANTHONY HENDAY TERWILLEGAR            766
RIVER VALLEY OLESKIW                  558
WHITEMUD CREEK RAVINE SOUTH           552
RIVER VALLEY LESSARD NORTH            478
WHITEMUD CREEK RAVINE TWIN BROOKS     466
Name: name, dtype: int64

In [51]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 42394 entries, 0 to 42393
Data columns (total 7 columns):
point_id      42394 non-null int64
neig_id       42394 non-null int64
name          42394 non-null object
long          42394 non-null float64
lat           42394 non-null float64
order         42394 non-null int64
Unnamed: 6    0 non-null float64
dtypes: float64(3), int64(3), object(1)
memory usage: 2.3+ MB

In [52]:

disp = df.loc[df['name'] == title]

disp.head()

      point_id  neig_id    name        long        lat  order  Unnamed: 6
4994        41     6030  BISSET -113.398907  53.463688      1         NaN
4995        41     6030  BISSET -113.393848  53.463483      2         NaN
4996        41     6030  BISSET -113.393873  53.459234      3         NaN
4997        41     6030  BISSET -113.393796  53.453836      4         NaN
4998        41     6030  BISSET -113.395078  53.453784      5         NaN